<div class="container-fluid">

<agm-map id="map"
  [latitude]="latitude"
  [longitude]="longitude"
  [disableDefaultUI]="true"
  [zoomControl]="true"
  [zoom] = "zoom"
  [latLngBoundsLiteral] ="latLngBounds_DEFAULT">

  <agm-marker
    [latitude]="latitude"
    [longitude]="longitude">

    <agm-info-window>
        <div class="row justify-content-center">
          Type: {{type}}
          <br>
        IATA/ICAO: {{airportCode}}/{{icaoConversion}}
        <br>
        Latitude = {{latitude}}, Longitude = {{longitude}}
        </div>
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="latitude"
              [longitude]="longitude"
              [radius]="radius"
              [fillColor]="color"
              [circleDraggable]="false"
              [editable]="false">
  </agm-circle>

</agm-map>
</div>
  <form [formGroup]="searchForm.searchForm" (ngSubmit)="setAirportCoordinates()">

    <div class="container">
      <div class="row justify-content-center">
          <div id ="nav">
            <button
              (click)="setAirportCoordinates(); searchForm.submitSearch()"
                    class="btn btn-outline-primary col-centered">Submit Button
            </button>

        </div>
      </div>

    </div>
  </form>
