<div class="container">

<agm-map id="map"
  [center]="center"
  [zoom]="zoom"
  [mapTypeId]="mapTypeId">

  <agm-marker *ngFor="let marker of markers;"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [map]="marker.map">

    <agm-info-window
      [maxWidth] = "maxWidth"
      [content]="contentString"
      [latitude]="marker.lat"
      [longitude]="marker.lng">
      {{contentString}}
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="latitude"
              [longitude]="longitude"
              [radius]="5000"
              [fillColor]="'red'"
              [circleDraggable]="false"
              [editable]="false">
  </agm-circle>

</agm-map>
  <form [formGroup]="searchForm.searchForm" (ngSubmit)="setAirportCoordinates()">

    <div class="container">
      <div class="row justify-content-center">
          <div id ="nav">
            <button
              (click)="setAirportCoordinates(); searchForm.submitSearch()">
              Submit Search
            </button>

        </div>
      </div>

    </div>
  </form>
</div>

