<div class="row justify-content-center">
<div class="sebm-google-map-container" id="map" style="width: 800px; height:500px;">
<agm-map
  [zoom]="zoom">

  <agm-marker *ngFor="let marker of markers;"
    [latitude]="latitude"
    [longitude]="longitude">

    <agm-info-window
      [maxWidth] = "maxWidth"
      [latitude]="latitude"
      [longitude]="longitude">
      {{contentString}}
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="latitude"
              [longitude]="longitude"
              [radius]="5000"
              [fillColor]="'red'"
              [circleDraggable]="false"
              [editable]="false">
  </agm-circle>

</agm-map>
  </div>
</div>

  <form [formGroup]="searchForm.searchForm" (ngSubmit)="setAirportCoordinates()">

    <div class="container">
      <div class="row justify-content-center">
          <div id ="nav">
            <button
              (click)="searchByKey(); searchForm.submitSearchByKey()">
              Search by Key
            </button>

        </div>
        <div id ="nav2">
          <button
            (click)="setAirportCoordinates(); searchForm.submitSearch()">
            Search by Airport
          </button>

        </div>
        <div id ="nav4">
          <button
            (click)="searchByType(); searchForm.submitSearchByType()">
            Search by Type
          </button>

        </div>

      </div>

    </div>
  </form>

