<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <nav class="navbar navbar-dark bg-light">
        <h2 class="padded-vert-1"><b>NOTAM Finder</b></h2>
      </nav>
    </div>
  </div>
  <div class="container-fluid">
  <div class="input">
    <app-agm-map>
    </app-agm-map>
  </div>
    </div>

  <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">

    <div class="container">

    <div class="row">
      <div class="col">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter Airport Code</span>
          </div>
          <input type="text" formControlName="airport" class="form-control" aria-label="Airport"
                 placeholder="IATA/ICAO" aria-describedby="inputGroup-sizing-default">
        </div>

      </div>

      <div class="col">


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Select Type</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Any</option>
            <option value="2">RWY</option>
            <option value="3">TWY</option>
            <option value="4">OBST</option>
          </select>
        </div>

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-1">
        <div id="nav">

        </div>
        <div id="aside" style="padding:5px">
        </div>

      </div>
    </div>

  </div>

  </form>

</div>

<div class="row justify-content-center">
<div *ngIf="displayMoreDetails">

    <div class="container">
      <div class="container">
        <div class="row justify-content-center">
  <h3><b>Raw NOTAM Details</b></h3>
  <div class="padding-vert-2">
    {{rawNotam}}
  </div>
    </div>
      </div>
    </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-1">
        <button (click)="closeDetails()" class="btn btn-outline-primary"><b>Close</b></button>
      </div>
    </div>
</div>

</div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
  <div *ngIf="displayResponse && !displayMoreDetails" class="container-fluid">
  <div class="row padding-1">
  <div class="container">
    <div class="row justify-content-center">
      <h3><b>Results</b></h3>
    </div>
  </div>
  </div>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Airport</th>
                <th scope="col">Type</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Altitude</th>
                <th scope="col">Runway</th>
                <th scope="col">Effective Date</th>
                <th scope="col">Created</th>
                <th scope="col">Source</th>
              </tr>
            </thead>
            <tbody *ngFor="let response of notams">
              <tr>
                <!-- <th scope="row">{{response.col1}}</th> -->
                <td (click)="moreDetails(response.col1)" class="link">{{response.col1}}</td>
                <td>{{response.col2}}</td>
                <td>{{response.col3}}</td>
                <td>{{response.col4}}</td>
                <td>{{response.col5}}</td>
                <td>{{response.col6}}</td>
                <td>{{response.col7}}</td>
                <td>{{response.col8}}</td>
                <td>{{response.col9}}</td>
                <td>{{response.col10}}</td>

              </tr>

            </tbody>
          </table>
  <!-- <div class="row padding-1">

    <div class="col-1 table-header">
      Key
    </div>
    <div class="col-1 table-header">
      Airport
    </div>
    <div class="col-3 table-header">
      Type
    </div>
    <div class="col-1 table-header">
      Latitude
    </div>
    <div class="col-1 table-header">
      Longitude
    </div>
    <div class="col-1 table-header">
      Altitude
    </div>
    <div class="col-1 table-header">
      Runway
    </div>
    <div class="col-1 table-header">
      Effective Date
    </div>
    <div class="col-1 table-header">
      Created
    </div>
    <div class="col-1 table-header">
      Source
    </div>

  </div>

  <div class="row padded-1" *ngFor="let response of notams">
    <div (click)="moreDetails(response.col1)" class="col-1 link">
      {{response.col1}}
    </div>
    <div class="col-1">
      {{response.col2}}
    </div>
    <div class="col-3">
      {{response.col3}}
    </div>
    <div class="col-2">
      {{response.col4}}
    </div>
    <div class="col-1">
      {{response.col5}}
    </div>
    <div class="col-1">
      {{response.col6}}
    </div>
    <div class="col-1">
      {{response.col7}}
    </div>
    <div class="col-1">
      {{response.col8}}
    </div>
    <div class="col-1">
      {{response.col9}}
    </div>
    <div class="col-1">
      {{response.col10}}
    </div>

  </div> -->


</div>
</div>
</div>
