<div class="container">
  <h5 class="padded-1">Start a search</h5>

  <form [formGroup]="searchForm" (ngSubmit)="submitSearch(searchForm)">

  <div class="container">
    <div class="row">
      <div class="col">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter Airport Code</span>
          </div>
          <input type="text" formControlName="airport" class="form-control" aria-label="Airport" placeholder="XXX" aria-describedby="inputGroup-sizing-default">
        </div>

      </div>

      <div class="col">


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Select Type</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Any</option>
            <option value="2">Runway</option>
            <option value="3">Obstruction</option>
          </select>
        </div>

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-1">
        <button type="button submit" class="btn btn-outline-primary col-centered">Submit</button>
      </div>
    </div>

  </div>

  </form>

</div>

<div *ngIf="displayResponse" class="container" >
  <h3>Results</h3>

  <div class="row padding-1">

    <div class="col-1 table-header">
      Key
    </div>
    <div class="col-1 table-header">
      Airport
    </div>
    <div class="col-3 table-header">
      Type
    </div>
    <div class="col-2 table-header">
      Coordinates
    </div>
    <div class="col-1 table-header">
      Altitude
    </div>
    <div class="col-1 table-header">
      Runway
    </div>
    <div class="col-1 table-header">
      Time
    </div>
    <div class="col-1 table-header">
      Created
    </div>
    <div class="col-1 table-header">
      Source
    </div>

  </div>

  <div class="row">

    <div class="col-1">
      {{response.col1}}
    </div>
    <div class="col-1">
      {{response.col2}}
    </div>
    <div class="col-3">
      {{response.col3}}
    </div>
    <div class="col-2">
      {{response.col4}}
    </div>
    <div class="col-1">
      {{response.col5}}
    </div>
    <div class="col-1">
      {{response.col6}}
    </div>
    <div class="col-1">
      {{response.col7}}
    </div>
    <div class="col-1">
      {{response.col8}}
    </div>
    <div class="col-1">
      {{response.col9}}
    </div>

  </div>


</div>

