/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.col-centered{
    float: none;
    margin: 0 auto;
}

.link {
    color: blue;
}

.paddied-hor-1 {
    padding-left: 1%;
    padding-right: 1%;
}

.paddied-hor-3 {
    padding-left: 3%;
    padding-right: 3%;
}

.paddied-hor-5 {
    padding-left: 5%;
    padding-right: 5%;
}

.padded-vert-1 {
    padding-top: 1%;
    padding-bottom: 1%
}

.padded-vert-2 {
    padding-top: 1%;
    padding-bottom: 1%
}

.padded-1 {
    padding: 1%
}

.padded-2 {
    padding: 2%
}

.padded-light {
    padding: 3%
}

.padded-med {
    padding: 5%
}

.padded-heavy {
    padding: 8%
}